$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-grey: #CDCDCD;
$color-dark: #545454;
$color-dark-x2: #4C4C4C;
$color-dark-m: #B2B2B2;

$button-text:  #292929;
$content-width: 1200px;