.footer {
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;;
}
.footer__container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.footer__content :not(:last-child) {
    margin-bottom: 45px;
}
.footer_text {
    display: flex;
    align-items: center;
    @include font ($size: 20px, $height: 23px);
    letter-spacing: 0.06em;
    color: $color-primary;
}
.icon_pad {
    padding-right: 20px;
    align-items: center;
}

.footer_text_spec {
    display: flex;
    @include font ($size: 20px, $height: 23px);
    letter-spacing: 0.06em;
    color: $color-primary;
}
.footer__content_second {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.footer__content_second :not(:last-child) {
    margin-bottom: 32px;
}